<h1>$hero.getHeroName()</h1>
<h3>Secret Identity: $hero.getSecretIdentity()</h3>
<h3>Squad: $squad.getName()</h3>
<h3>Superpower: $hero.getSuperPower()</h3>
<h3>Weakness: $hero.getWeakness()</h3>
<h3>Strength: $hero.getStrengthValue()</h3>
<h3>Intelligence: $hero.getIntelValue()</h3>

<a href="/squads/$squad.getId()/heroes/new">Add another hero to this squad</a>
<a href="/squads/$squad.getId()">Return to this squad</a>
<a href="/squads">View all squads</a>
