<div class="indexdiv">

  <div class="buttonsCenter">
    <a href="/squads/new"><button type="button" name="button" class="btn btn-warning">Add Squad</button></a>
    <a href="/squads"><button type="button" name="button" class="btn btn-danger">View All Squads</button></a>
  </div>
</div>
