<h1>Squad Assembler</h1>

<button type="button" name="button" class="btn btn-warning"><a href="/squads/new">Add Squad</a></button>
<button type="button" name="button" class="btn btn-success"><a href="/squads">View All Squads</a></button>
