<h1>Success</h1>

<p>
  Your Squad has been created.
</p>

<button type="button" name="button" class="btn btn-success"><a href="/squads">View All Squads</a></button>
<button type="button" name="button" class="btn btn-warning"><a href="/squads/new">Add Another Squad</a></button>
