<h1>$squad.getName() heroes:</h1>
<h3>Goal: $squad.getGoal()</h3>

<ul>
  #foreach($hero in $squad.getHeroes())
    <li><a href="/squads/$squad.getId()/heroes/$hero.getId()">$hero.getHeroName()</a></li>
  #end
</ul>

<a href="/squads/$squad.getId()/heroes/new">Add a new hero</a>
<a href="/squads">All squads</a>
