<h1>Success</h1>

<p>
  Your Squad has been created.
</p>
<div class="buttonRow">
  <a href="/squads"><button type="button" name="button" class="btn btn-success">View All Squads</button></a>
  <a href="/squads/new"><button type="button" name="button" class="btn btn-warning">Add Another Squad</button></a>
</div>
