<h1>Success!</h1>

Your hero has been added to the $squad.getName() squad.

<a href="/squads/$squad.getId()/heroes/new">Add another hero to this squad</a>
<a href="/squads/$squad.getId()">Return to this squad</a>
<a href="/squads">View all squads</a>
