<h1>All Squads</h1>

#foreach ($squad in $squads)
  <h4><a href="/squads/$squad.getId()">$squad.getSquadName()</a></h4><br>
#end
<div class="buttonRow">
  <a href="/squads/new">
  <button type="button" name="button" class="btn btn-success">Add Squad</button>
  </a>
</div>
